.about {
    margin: 0;
    text-align: center;
    color: var(--text-primary);
    background-color: var(--background);
    height: 100vh;
    transition: all .5s;



  }
  button {
    color: var(--text-primary);
    background-color: var(--background);
    border: 2px var(--text-primary) inset;
    float: right;
    transition: all .5s;
  }
  .aboutTxt {
    width: 80%;
    margin: auto;
  }