.about {
    margin: 0;
    text-align: center;
    color: var(--text-primary);
    background-color: var(--background);
    height: 110vh;
    transition: all .5s;
  }

  button {
    color: var(--text-primary);
    background-color: var(--background);
    float: right;
    transition: all .5s;
  }
  .aboutTxt {
    padding: 20px;
    width: 80%;
    margin: auto;
  }