.app {
    color: var(--text-primary);
    background-color: var(--background);
    transition: all .5s;
    height: 100vh;
  }
  button {
    color: var(--text-primary);
    background-color: var(--background);
    border: 2px var(--text-primary) inset;
    float: right;
    transition: all .5s;
  }