.sidenav {
  /* display: flex; */
  justify-content: center;
}

.sidenav:hover {
  background-color: black;
  filter: invert(1);
}

.sidenav a {
  color: white;
  margin-top: 17px;
  padding: 0 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 19px;
  font-family: "Lato";
}

.sidenav a:hover {
  color: rgb(41, 40, 40);
}

.dropdown-content {
  margin-top: 20px;
  display: none;
  position: absolute;
  background-color: transparent;
  justify-content: center;
}

.dropdown-content a {
  color: rgb(41, 40, 40);
  padding: 5px;
  margin-left: -19px;
  margin-top: 0;
  text-decoration: none;
  display: block;
  transition: all 2s ease-in-out;
  height: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
  padding: 20px;
}
.dropbtn {
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  font-family: "Lato";
}

.dropdown {
  display: flex;
  margin-top: 3px;
  margin-right: 35px;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
@keyframes sidenav {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.sidenav {
  animation: header 1000ms ease;
}
.logo {
  font-family: 'BhuTuka Expanded One', cursive;
  font-size: 50px;
  color: white;
  margin-top: -15px;
}
.logo:hover {
  color: rgb(41, 40, 40);
}